<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Kerigma Music</title>
    <link rel="stylesheet" href="~/KM.SysControlAdmin.WebApp.styles.css" asp-append-version="true" />

    <link rel="icon" href="~/assets/img/logos/Icon Kerigma Music.png" type="image/x-icon">
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/lib/SweetAlert2/css/min.css" rel="stylesheet" />
    <link href="~/lib/DataTables/css/dataTables.css" rel="stylesheet" />
    <link href="~/lib/DataTables/css/min.css" rel="stylesheet" />
    <link href="~/lib/Select2/css/min.css" rel="stylesheet" />
    <script src="~/js/fontawesome.js"></script>
    <script src="~/lib/ChartJs/js/chart.umd.min.js"></script>
</head>
<body class="sb-nav-fixed">
    
    @if (User.Identity.IsAuthenticated)
    {
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-1" style="color:white" asp-area="" asp-controller="Home" asp-action="Index"><img src="/assets/img/logos/Icon Kerigma Music.png" width="20" style="margin-right:3px; margin-left:25px; margin-bottom:3px" alt="Logo" /> Kerigma Music</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group" hidden>
                    <input class="form-control" type="text" placeholder="Buscar..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Information">Mi Perfil</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" id="logoutLink" href="#!">Cerrar Sesion</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            @if (User.IsInRole("Desarrollador"))
                            {
                                <!-- Seccion Principal-->
                                <div class="sb-sidenav-menu-heading">Principal</div>
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                                    Inicio
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Dashboard">
                                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                    Dashboard
                                </a>
                                <!-- Seccion Infraestructura-->
                                <div class="sb-sidenav-menu-heading">Infraestructura Interna</div>
                                <a class="nav-link" asp-area="" asp-controller="Schedule" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-clock"></i></div>
                                    Horarios
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="Trainer" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user-tie"></i></div>
                                    Instructores/Docentes
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="Course" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-chalkboard-teacher"></i></div>
                                    Cursos
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="Student" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-graduation-cap"></i></div>
                                    Alumnos/as
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="CourseAssignment" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-folder-open"></i></div>
                                    Asignación De Curso
                                </a>
                                <!-- Seccion Seguridad-->
                                <div class="sb-sidenav-menu-heading">Seguridad</div>
                                <a class="nav-link" asp-area="" asp-controller="Role" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user-shield"></i></div>
                                    Roles
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                    Usuarios
                                </a>
                                <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><i class="fas fa-key"></i></div>
                                    Cambiar Contraseña
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="ChangePassword">Mi Usuario</a>
                                        <a class="nav-link" asp-area="" asp-controller="Support" asp-action="Index">Usuarios Externos</a>
                                    </nav>
                                </div>
                            }
                            else if (User.IsInRole("Administrador"))
                            {
                                <!-- Seccion Principal-->
                                <div class="sb-sidenav-menu-heading">Principal</div>
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                                    Inicio
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="" asp-action="">
                                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                    Dashboard
                                </a>
                                <!-- Seccion Infraestructura-->
                                <div class="sb-sidenav-menu-heading">Infraestructura Interna</div>
                                <a class="nav-link" asp-area="" asp-controller="Schedule" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-clock"></i></div>
                                    Horarios
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="Trainer" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user-tie"></i></div>
                                    Instructores/Docentes
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="Course" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-chalkboard-teacher"></i></div>
                                    Cursos
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="Student" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-graduation-cap"></i></div>
                                    Alumnos/as
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="CourseAssignment" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-folder-open"></i></div>
                                    Asignación De Curso
                                </a>
                                <!-- Seccion Seguridad-->
                                <div class="sb-sidenav-menu-heading">Seguridad</div>
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                    Usuarios
                                </a>
                                <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><i class="fas fa-key"></i></div>
                                    Cambiar Contraseña
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="ChangePassword">Mi Usuario</a>
                                        <a class="nav-link" asp-area="" asp-controller="Support" asp-action="Index">Usuarios Externos</a>
                                    </nav>
                                </div>
                            }
                            else if (User.IsInRole("Secretario/a"))
                            {
                                <!-- Seccion Principal-->
                                <div class="sb-sidenav-menu-heading">Principal</div>
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                                    Inicio
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="" asp-action="">
                                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                    Dashboard
                                </a>
                                <!-- Seccion Infraestructura-->
                                <div class="sb-sidenav-menu-heading">Infraestructura Interna</div>
                                <a class="nav-link" asp-area="" asp-controller="Schedule" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-clock"></i></div>
                                    Horarios
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="Trainer" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user-tie"></i></div>
                                    Instructores/Docentes
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="Course" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-chalkboard-teacher"></i></div>
                                    Cursos
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="Student" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-graduation-cap"></i></div>
                                    Alumnos/as
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="CourseAssignment" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-folder-open"></i></div>
                                    Asignación De Curso
                                </a>
                                <!-- Seccion Seguridad-->
                                <div class="sb-sidenav-menu-heading">Seguridad</div>
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                    Usuarios
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="ChangePassword">
                                    <div class="sb-nav-link-icon"><i class="fas fa-key"></i></div>
                                    Cambiar Contraseña
                                </a>
                            }
                            else if (User.IsInRole("Instructor/Docente"))
                            {
                                <!-- Seccion Principal-->
                                <div class="sb-sidenav-menu-heading">Principal</div>
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                                    Inicio
                                </a>
                                <!-- Seccion Seguridad-->
                                <div class="sb-sidenav-menu-heading">Seguridad</div>
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="ChangePassword">
                                    <div class="sb-nav-link-icon"><i class="fas fa-key"></i></div>
                                    Cambiar Contraseña
                                </a>
                            }
                            else if (User.IsInRole("Alumno/a"))
                            {
                                <!-- Seccion Principal-->
                                <div class="sb-sidenav-menu-heading">Principal</div>
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                                    Inicio
                                </a>
                                <!-- Seccion Seguridad-->
                                <div class="sb-sidenav-menu-heading">Seguridad</div>
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="ChangePassword">
                                    <div class="sb-nav-link-icon"><i class="fas fa-key"></i></div>
                                    Cambiar Contraseña
                                </a>
                            }
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Usuario Actual:</div>
                        Proximamente...
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div>
                            <main role="main">
                                @RenderBody()
                            </main>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">
                                Copyright &copy; Desarrollado para la Academia Kerigma Music - IFAD por Hector Garcia <span id="currentYear"></span>
                            </div>
                            @* <div>
                                <a href="#">Politicas de Privacidad</a>
                                &middot;
                                <a href="#">Terminos y Condiciones</a>
                            </div> *@
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    }
    else
    {
        <main role="main">
            @RenderBody()
        </main>
    }

    @* Alerta de confirmacion *@
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('logoutLink').addEventListener('click', function () {
                Swal.fire({
                    title: '¿Está seguro de que desea Cerrar Sesión?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sí, Cerrar Sesión',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '@Url.Action("Logout", "User")';
                    }
                });
            });
        });
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/boostrap5.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/SweetAlert2/js/min.js"></script>
    <script src="~/lib/DataTables/js/dataTables.js"></script>
    <script src="~/lib/DataTables/js/min.js"></script>
    <script src="~/lib/Select2/js/min.js"></script>
    <script>
        // Obtiene el año actual y lo inserta en el elemento con id "currentYear"
        document.getElementById("currentYear").textContent = new Date().getFullYear();
    </script>

    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)
</body>
</html>
